.contCent{
    border: 2px solid blue;
    width: min-content;
    min-width: 700px;
    margin-top: 10%;
    margin-left: 30%;
    font-family: 'poppins';
    padding: 10px 40px;
    border-radius: 9px;
    transform: scale(1.5);
}

p{
    font-size: 18px;
}